---
layout: base 
--- 
<div id="viewer" class="w-full z-0 h-full" style="background-color: #aeacb1;"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/{{ page.version }}/openseadragon.min.js"></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    var manifestUrl = "{{ site.test_manifest }}";
    fetch(manifestUrl)
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      var tileSources = [];
      data.sequences[0].canvases.forEach(function (val) {
        tileSources.push(val.images[0].resource.service['@id'] + '/info.json');
      });
      window.viewer = OpenSeadragon({
        id: "viewer",
        sequenceMode: true,
        prefixUrl: "https://cdn.jsdelivr.net/gh/Benomrans/openseadragon-icons@main/images/",
        tileSources: tileSources,
        placeholderFillStyle: "#FFFFFF",
        showReferenceStrip: true,
        showHomeControl: false
      });
    })
    .catch(error => {
      console.error('Error fetching manifest:', error);
    });
  });
</script>